 <%= content_for(:title) { @user.name } %>

<h1><%= @user.name %>'s Page</h1>

<h4>Posts and Comments:</h4>
<ul>
  <%= render partial: "shared/post_comment", collection: @posts,
              as: :post %>
</ul>
